* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Roboto", sans-serif; */
  /* font-family: 'Prata', serif; */
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.modal-backdrop {
  z-index: 0;
}

.btn-black {
  background-color: #353535;
  color: white;
  font-size: 14px;
  border-radius: 0%;
}
.btn-black:hover {
  background-color: #565656;
  color: white;
}

.btn-success,
.btn-primary,
.btn-danger {
  border-radius: 0%;
}

.link-mail:hover {
  color: wheat !important;
}
.link-tel:hover {
  color: greenyellow !important;
}
.link-fb:hover {
  color: rgb(50, 50, 243) !important;
}
.link-copyright {
  text-decoration: none;
  color: white;
}
.link-copyright:hover {
  text-decoration: underline;
  color: rgb(141, 137, 137);
}

.jumbotron {
  position: relative;
  /* background-image: url(/./assets/img/Jumbotron1.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 0 0 10px 10px;
}
.jumbotron::after {
  content: "";
  display: block;
  width: 100%;
  height: 80%;
  border-radius: 0 0 10px 10px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  bottom: 0;
  left: 0;
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron .container * {
  margin-top: 60px;
  color: white;
  text-shadow: 2px 2px black;
}

.jumbotron .container h1 {
  font-family: "Prata", serif;
  margin-top: 100px;
}
.jumbotron .container p {
  font-size: 16px;
}

.about {
  margin: 70px 0;
  padding: 70px;
}

.about .container h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
  font-family: "Prata", serif;
}
.about .container p {
  text-align: justify;
}

.project {
  margin: 70px 0;
  padding: 70px;
  background-color: rgb(245, 241, 241);
  width: 95vw;
  margin: auto;
  border-radius: 25px;
}

.project h1 {
  font-weight: bold;
  margin-bottom: 30px;
  font-family: "Prata", serif;
}
.project p {
  margin-bottom: 50px;
}

.contact {
  margin-top: 90px;
  padding: 70px;
}

.contact .container h4 {
  font-family: "Prata", serif;
  font-size: 40px;
  font-weight: bold;
}
.contact .container p {
  margin-top: 32px;
  font-size: 16px;
}
.contact .container a {
  text-decoration: none;
  font-size: 16px;
  width: 20%;
  padding: 13px;
}

.contact .container .sitemap {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 5px 5px #807979;
}

footer {
  margin-top: 70px;
  padding: 40px;
  border-radius: 10px 10px 0 0;
}

.footer .container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.footer .container a {
  color: white;
  font-size: 20px;
  margin-right: 5px;
}

.footer .container ul {
  list-style: none;
}
.footer .container h4 {
  font-weight: 600;
  color: white;
}
.footer .container p {
  color: white;
}
.footer .container a {
  color: white;
  text-decoration: none;
}
.footer .container a:hover {
  color: rgb(141, 137, 137);
}

/* CSS FLOATING WA */
.btn-floating {
  position: fixed;
  right: 25px;
  bottom: 25px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 0;
  color: white;
  z-index: 9999;
  transition: 0.2s;
  box-shadow: 2px 3px rgb(150, 141, 141);
}
.btn-floating:hover {
  background-color: rgb(70, 233, 70);
  border: 2px solid white;
  transition: 0.2s;
}
/* Akhir CSS FLOATING WA */

/* Scroll to Top */
.scrollTop {
  position: fixed;
  right: 35px;
  bottom: 70px;
  color: rgb(109, 105, 105);
  font-size: 25px;
  transition: all 0.4s;
  opacity: 0;
  z-index: 9999;
}
.scrollTop::after {
  content: "to Top";
  font-size: 13px;
  position: fixed;
  font-weight: bold;
  bottom: 125px;
  right: 25px;
}
.scrollTop.active {
  opacity: 1;
  pointer-events: auto;
  bottom: 90px;
}
/* Akhir Scroll to Top */

/*--- Media Query ---*/
@media only screen and (max-width: 1023px) {
  .jumbotron .container h1 {
    margin-top: 30px;
  }

  .project h1 {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  /*Tablet View*/
  .jumbotron .container * {
    margin-top: 0px;
  }
  .jumbotron .container h1 {
    margin-top: 60;
  }
  .jumbotron .container p {
    font-size: 14px;
  }

  .contact .container a {
    width: 40%;
    margin-bottom: 30px;
  }
  .contact .container iframe {
    width: 100% !important;
  }

  .about .container img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  /*Mobile View*/
  .jumbotron {
    height: 90vh;
  }
  .jumbotron .container h1,
  .jumbotron .container p {
    margin-top: 60px;
  }

  .about {
    padding: 80px 0 65px;
  }
  .about .container img {
    width: 100%;
    margin-bottom: 30px;
  }

  .project {
    padding: 80px 0 65px;
  }
  .project h1 {
    margin-bottom: 10px;
  }

  .contact {
    padding: 75px 0;
  }
  .contact .container a {
    width: 30%;
    margin-bottom: 30px;
  }

  .contact .container .h4-sitemap {
    margin-top: 30px;
  }
  .contact .container .sitemap {
    margin-top: 10px;
    width: 360px;
    height: 300px;
  }

  footer {
    padding: 10px;
  }
  .footer .container {
    display: block;
  }
  .footer .container .foot-brand img {
    width: 100px;
    height: 100px;
    margin: 10px 0;
  }
  .footer .container ul > * {
    margin-left: -30px;
  }
}
